pkgbase = mint-backgrounds-maya
	pkgdesc = The backgrounds included in Linux Mint 13 Maya
	pkgver = 1.5
	pkgrel = 1
	url = http://packages.linuxmint.com/pool/main/m/mint-backgrounds-maya
	arch = any
	license = Various
	source = http://packages.linuxmint.com/pool/main/m/mint-backgrounds-maya/mint-backgrounds-maya_1.5.tar.gz
	sha256sums = 907ed8d392c5a23934587c0fc14d0756dd7fbf1964ffb3bf7f449682eeff8c0e

pkgname = mint-backgrounds-maya
